<form class="form-panel" action="/Maestros/Index" method="post">
    <label for="numeroDocumento">Número de Documento</label>
    <input name="numeroDocumento" type="text" placeholder="Ingrese Número de Documento" />
    <label for="apellido">Apellido</label>
    <input name="apellido" type="text" placeholder="Ingrese Apellido" />
    <label for="nombre">Nombre</label>
    <input name="nombre" type="text" placeholder="Ingrese Nombre" />
    <div class="buttons">
        <button name="buscar" class="form-button" type="submit">Buscar</button>
        <button name="agregar" class="form-button" type="submit">Agregar</button>
        <button name="modificar" class="form-button" type="submit">Modificar</button>
        <button name="eliminar" class="form-button" type="submit">Eliminar</button>
    </div>
</form>
