<nav>
    <h1>Escuela</h1>
    <ul class="operations-menu">
        <li class="operation">@Html.ActionLink("Inicio", "Index")</li>
        <li class="operation maestros">@Html.ActionLink("Maestros", "Index", "Maestros")</li>
    </ul>
</nav>
